<div class='card employee-card'>
    <div class='card-header'>
        <h2 class='card-title'>{ {employeeName} }</h2>
        <h3 class='card-title'><i class='fas fa-glasses mr-2'></i>{ {role} }</h3>
    </div>
    <div class='card-body'>
        <ul class='list-group'>
            <li class='list-group-item'>ID: { {employeeId} }</li>
            <li class='list-group-item'>Title: { {title} }</li>
            <li class='list-group-item'>Department: { {department} }</li>
            <li class='list-group-item'>Email: <a href='mailto:{ {emailAddress} }'>{ {emailAddress}}</a></li>
            <li class='list-group-item'>Phone: { {phoneNumber} }</li>
            <li class='list-grou-item'>Certifications: { {certifications} }</li>
            <li class='list-group-item'>GitHub: <a href='https://github.com/{ {githubName} }' target='_blank' rel='noopener noreferrer'>{ {githubName} }</a></li>
        </ul>
    </div>
</div>
